*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 100px;
    background-color: aqua;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#navbar{
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#section{
    width: 70%;
    height: 150px;
    background-color: violet;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    float: left;
}

#aside{
    width: 30%;
    height: 300px;
    background-color: tomato;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    float: right;
}

#article{
    width: 70%;
    height: 150px;
    background-color: rebeccapurple;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#footer{
    width: 100%;
    height: 113px;
    background-color: dimgray;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}